# Installation dir of the osu to be monitored. Leave empty for auto-detection
OSU_DIR=
# Dir of replays to be analyzed, relative path under OSU_DIR
REPLAYS_DIR="Data/r/"
# Dir of songs, relative path under OSU_DIR
SONGS_DIR="Songs"
# This software uses tosu to read the current map. Leave empty to use the internal runtime (tosu/)
TOSU_PATH=
